/* .logo {
    width: 100px;
    height: auto;
    display: block;
    object-fit:contain;

} */

/* .logo {
    background-image: url('images/life_steplogo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
} */